// bower:scss
// endbower
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "_cursor";
@import "_monokai";
@import "_animations";
@import "compass/typography/vertical_rhythm";
$break-small: 320px;
$break-large: 1200px;
$displayGreen: green;
$highlight: #bb0066;
$base-font-size: 16px;
$base-line-height: 24px;

@include establish-baseline;


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html,body{padding:0;margin:0;}
body {
  background-color: #49483e;
  color:white;
  overflow-y:auto;
  overflow-x:hidden;
  font-family: 'Source Sans Pro', sans-serif;
}

a{
  color:white;
}
/* Menu List */
ul.nav{
  width:100%;
  height:60px;
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
  background-position: center bottom;
  background-image: url('/images/70black.png');
  @include text-shadow(rgba(black, 0.5) 0px 1px 3px);
  li{
   display:inline;
   float:left;
   padding: 20px;
  }
}

/* Grid Shapes*/
.container{
  min-width:960px;
}

.thin{
  width:20%;
}

.wide{
  width:40%;
}
/* Window Manager and Windows */
.contentWrapper{
  padding:50px;
}

.commandList{
  width: 100%;
  h4{
    margin:0;
    display:block;
    float:left;
  }
  li{
  display:block;
  float:left;
  position:relative;
  padding:2px;
  margin-bottom:5px;
  margin-left:5px;
  font-weight:bold;
  font-size: small;
  background:$highlight;
  }
}
.contentWindow{
  display:block;
  border: 1px dotted $displayGreen;
  background-image: url('/images/70black.png');
 h2{
    display:block;
    text-align:center;
    padding-bottom:10px;
    border-bottom: 1px dashed $displayGreen;
    color: #A6E22E;
    left:0px;
    top:0px;
 }
 img{
 }
 .wrapper{
  margin: 15px 15px 15px 15px;
 }
}

.title{
width: 636px;
height: 152px;
background-image: url('/images/title.gif');
}

.translucent{
  opacity:.7;
}
#worldViewer{
  top:0;
  left:0;
  z-index:-1;
  position:fixed;
  width:100%;
  height:100%;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}