<div class="contentWindow title" ng-packery>
</div>
<div class="contentWindow wide" ng-packery>
<h2>/readme.txt</h2>
<div class="wrapper">
<p>I am a full stack web developer working on enterprise software development professionally. This site is my way of having a little fun and playing with the experimental side of development. This site also requires webgl and is not intended for mobile devices at this time. For a conventional resume, a sample of projects I have worked on, or to get in touch please visit my github or linked in pages.</p>
<h3>about</h3>
<p>This site was built with angular and I wrote directives for packery.js and three.js to create the window system and 3d background.  The geometry was created by me, if you're bored try to find all the different hidden 3d worlds that are available as backgrounds. Source code is available on my github page.</p>
</div>
</div>


<div class="contentWindow" ng-packery>
	<h2>/experience</h2>
	<div class="wrapper">
			<h3>professional</h3>
			<ul>
				<li>Project Manager</li>
				<li>Programmer
					<ul>
						<li>Python+Django</li>
						<li>Java/Scala</li>
						<li>Ruby+Rails</li>
						<li>Javascript+Angular</li>
						<li>html and css</li>
					</ul>
				</li>
				<li>3D Visual Artist</li>
			</ul>
</div>
</div>
<div class="contentWindow" ng-packery>
	<h2>/education</h2>
	<div class="wrapper">
			<h3>Education</h3>
			<ul>
				<li>Ohio State University</li>
				<li>B.S Business Administration</li>
				<li>Accounting Specialization</li>
			</ul>
			<h3></h3>
	</div>
</div>

<div class="contentWindow" ng-packery>
<img src="images/steve.gif" class="translucent" width="245" height="245">
</div>