<div class="contentWindow" ng-packery>
<h1>root</h1>
<img src="images/title.gif" height="138">
</div>
<div class="contentWindow" ng-packery>
<h1>/~</h1>
<div class="wrapper">
<p>This site is intended as an experimental project to explore new and emerging front end web technologies and as a sort of online resume.</p>
<p>I am a full stack web developer working on enterprise software development.</p>
</div>
</div>


<div class="contentWindow" ng-packery>
	<h1>/systemStatistics</h1>
	<div class="wrapper">
			<h3>Skills</h3>
			<ul>
				<li>Project Manager</li>
				<li>Programmer
					<ul>
						<li>Java/Scala</li>
						<li>Python+Django</li>
						<li>Ruby+Rails</li>
						<li>Javascript+Angular</li>
						<li>html and css</li>
					</ul>
				</li>
				<li>3D Visual Artist</li>
				<li>Amateur Composer</li>
			</ul>
			<h3>Education</h3>
			<ul>
				<li>Ohio State University</li>
				<li>B.S Business Administration</li>
				<li>Accounting Specialization</li>
			</ul>
	</div>

</div>
