<div class="contentWindow title translucent" ng-packery>
</div>
<div class="contentWindow wide" ng-packery>
<h2>/readme.txt</h2>
	<ul  class="commandList cf">
		<h4>Available Commands</h4>
      <li ng-repeat="helpItem in helpItems"><a href="" ng-click="setCommand(helpItem.title)">{{helpItem.title}}</a></li>
      <li><a href="#" ng-click = "setWorld('city')">world --map city</a></li>
      <li><a href="#" ng-click = "setWorld('land')">world --map land</a></li>
	</ul>		
<div class="wrapper">
	{{welcomeMessage}}
</div>
</div>


<div class="contentWindow" ng-packery>
	<h2>/experience</h2>
	<div class="wrapper">
			<h3>professional</h3>
			<ul>
				<li>Project Manager</li>
				<li>Programmer
					<ul>
						<li>Python+Django</li>
						<li>Java/Scala</li>
						<li>Ruby+Rails</li>
						<li>Javascript+Angular</li>
						<li>html and css</li>
					</ul>
				</li>
				<li>3D Visual Artist</li>
			</ul>
</div>
</div>
<div class="contentWindow" ng-packery>
	<h2>/education</h2>
	<div class="wrapper">
			<h3>Education</h3>
			<ul>
				<li>Ohio State University</li>
				<li>B.S Business Administration</li>
				<li>Accounting Specialization</li>
			</ul>
	</div>
</div>

<div class="contentWindow" ng-packery>
<img src="images/steve.gif" class="translucent" width="245" height="245">
</div>